    <div>
        <img src="{{this.image_url}}" alt="beer">
        <p class="beerNames">{{this.name}}</p>
        <p class="taglines">{{this.tagline}}</p>   
        <p class="descriptions">{{this.description}}</p>
    </div>