    <div class="beerCard">
        <img src="{{this.image_url}}" alt="beer">
        <h4 class="beerNames">{{this.name}}</h4>
        <p class="taglines">{{this.tagline}}</p>   
        <p class="descriptions">{{this.description}}</p>
    </div>