

<div id="wrapper">
    <div id="randomBeerWrapper">
        {{>beerpartial beer}}
        <h4>Food pairing:</h4>
        <ul>
            {{#each beer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span>Brewer Tips: </span>{{beer.brewers_tips}}</p>
</div>
</div>